body{
    font-family: 'Courier New', Courier, monospace;

}
#container{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 24px;
    background-color: lightgreen;
    border: 10px solid darkviolet;
}

#submit-btn{
    display: block; 
    margin : 15px auto;
    font-size: inherit;
    background-color: rgb(81, 180, 81);
    color: white;
}

h3{
    color: rgb(81, 180, 81);
    
}

#note{
    width: 70%;
    height: 30px;
    padding: 8px;
    border: 3px solid darkviolet;
}

#tiles-div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
    font-size: 15px;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.527);
}

.modal-content{
    background-color: white;
    min-width: 300px;
    width: 60%;
    margin: 13% auto;
    height: 35%;
    padding: 20px;
    border: 3px solid rgb(81, 180, 81);
    overflow: auto;
}

.close-btn{
    float: right;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus{
    color: black;
    font-weight: 300;
    cursor: pointer;
}